.interaction {
  background-color: var(--color--interaction-background);
  z-index: 4;

  &__info-container {
    margin-bottom: 3rem;
    max-width: 31rem;
  }

  &__prompts-container {
    max-width: 18rem;
    align-self: center;
    padding-top: 3.5rem;
    position: relative;
  }
}

.info-container__title {
  width: 18rem;
  font-weight: bold;
  margin: 1rem 0;
}

.info-container__subtitle {
  margin-bottom: 2.5rem;

  .subtitle__shape {
    width: 10rem;
  }
}

.prompts-container__prompt {
  position: relative;
  margin-left: 7rem;
  width: 7.5rem;
  height: 7.5rem;
  background: var(--color--interaction-prompt-background);
  border-radius: 0.5rem;
  transform: rotate(-45deg);
  transform-origin: 0 100%;

  &::after {
    content: '';
    position: absolute;
    border: solid 1px var(--color--interaction-prompt-background);
    border-radius: 0.5rem;
    top: -0.5rem;
    left: -0.5rem;
    width: 8.4rem;
    height: 8.4rem;
  }

  .prompt__inner-container {
    width: 7rem;
    text-align: center;
    position: relative;
    top: -3rem;
    right: 0.3rem;
    transform: rotate(45deg);
    transform-origin: 0 100%;

    .prompt__text {
      color: var(--color--interaction-prompt-text);
      text-align: center;
      font-weight: bold;
    }

    .prompt__image-container {
      text-align: center;

      .prompt__image {
        color: var(--color--interaction-prompt-text);
        height: 3rem;
      }
    }
  }

  &_first {
    margin-bottom: -2.1rem;
  }

  &_second {
    margin-left: 14rem;
  }

  &_third {
    margin-top: -2.1rem;
  }
}
