@media (max-width: $mobile-max-width) {
  .interaction {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;

    &__info-container {
      text-align: center;
      max-width: 80%;
    }

    &__prompts-container {
      margin: 3rem 0 1.5rem -17rem;
      height: auto;
      width: 100vw;
      display: flex;
      flex-flow: row nowrap;

      .prompts-container__prompt {
        width: 6rem;
        height: 6rem;

        &::after {
          top: -0.5rem;
          left: -0.5rem;
          width: 6.8rem;
          height: 6.8rem;
        }

        .prompt__inner-container {
          width: 7.3rem;
          top: -3.3rem;
          right: 1rem;

          .prompt__image-container {
            .prompt__image {
              height: 2.5rem;
            }
          }
        }
      }
    }
  }

  .info-container {
    &__title {
      font-size: 1.7rem;
      letter-spacing: 0.05rem;
      width: 100%;
    }

    &__subtitle {
      font-size: 1.3rem;
      font-weight: normal;
      margin-bottom: 2.5rem;
    }

    &__text {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  .prompts-container__prompt {
    &::after {
      border-radius: 0.3rem;
    }

    &_second {
      margin: auto 4.5rem;
    }

    &_third {
      margin: auto;
    }
  }
}
