.header {
  background-color: var(--header-background-color);
  display: flex;
  position: fixed;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.header__logo-container {
  margin: auto 0;
  color: var(--white-text);
}

.header__logo-image {
  height: 3.5rem;
}

.header__navigation-list {
  margin: auto;
}

.header__navigation-item {
  border-top: solid 2px var(--header-background-color);
  list-style-type: none;
  float: left;

  color: var(--white-text);
}

.header__navigation-link {
  display: inline-block;
  padding: 1.5rem 1rem;
}

.header__navigation-item:hover {
  border-top-color: var(--header-navigation-item-hover);
  background-color: var(--header-navigation-item-hover);
}

.header__navigation-item:target {
  font-weight: 600;
  border-top-color: var(--white-text);
  background-color: var(--header-navigation-item-hover);
}

.header__auth-container {
  margin: auto 0;
}

.header__auth-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;

  margin: 0 1rem;

  color: var(--white-text);
}

.header__auth-icon {
  height: 1.2rem;
}

.header__auth-item_small-text {
  font-size: 0.7rem;
}
