.header {
  background-color: var(--header-background-color);
  display: flex;
  position: fixed;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.header__logo-container {
  margin: auto 0;
  color: var(--white-text);
}

.logo-container__image {
  padding: 0.5rem;
}

.header__navigation-list {
  display: flex;
  flex-flow: row nowrap;
}

.navigation-list__list-item {
  display: flex;
  align-items: center;
  border-top: solid 2px var(--header-background-color);
  list-style-type: none;
  color: var(--white-text);
}

.navigation-list__list-item:hover {
  font-weight: 600;
  border-top-color: var(--white-text);
  background-color: var(--header-navigation-item-hover);
}

.list-item__link {
  margin: auto 1rem;
}

.header__auth-container {
  margin: auto 0;
}

.auth-container__auth-item {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  color: var(--white-text);
}

.auth-item__icon {
  height: 1.2rem;
}

.auth-item__text {
  font-size: 0.7rem;
}
