.container {
  display: flex;
}

.container_column {
  flex-flow: column nowrap;
  align-items: center;
}

.container_row {
  flex-flow: row nowrap;
  justify-content: center;
}

.container__text {
  font-size: 0.9rem;
  font-weight: 100;
}

.container__text_light {
  color: var(--color--main-text);
}

.container__text_dark {
  color: var(--color--tricks-text);
}
