.container {
  display: flex;
}

.container_column {
  flex-flow: column nowrap;
  align-items: center;
}

.container_row {
  flex-flow: row nowrap;
  justify-content: center;
}

.container__text {
  font-size: 0.9rem;
}
