.features {
  padding: 4rem;
}

.features__table {
  display: table;
  border-collapse: collapse;
}

.table__row {
  display: table-row;
}

.table__cell {
  position: relative;
  display: table-cell;
  width: 17rem;
}

.features__item {
  display: flex;
  text-align: center;
  flex-flow: column nowrap;
  margin: 2rem 3rem;
}

.features-item__image {
  color: var(--color--features-text);
  margin: auto;
  height: 2rem;
}

.features-item__text {
  color: var(--color--features-text);
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1rem;
}

.table__row:nth-child(odd) .table__cell::after {
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  width: 2px;
  height: 60%;
  background-color: var(--color--features-text);
}

.table__row:nth-child(odd) .table__cell:nth-child(3n)::after {
  content: none;
}

.table__row:nth-child(even) .table__cell::after {
  content: '';
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: var(--color--features-text);
}
