.interaction {
  background-color: var(--color--interaction-background);
  z-index: 4;
}

.interaction__info-container {
  margin-bottom: 3rem;
  width: 35rem;
}

.info-container__title {
  color: var(--color--interaction-text);
}

.info-container__title_line {
  display: block;
  margin: 0;
}

.info-container__subtitle {
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color--interaction-text);
}

.subtitle__shape {
  width: 10rem;
}

.info-container__text {
  font-size: 0.9rem;
  color: var(--color--interaction-text);
}

.interaction__prompts-container {
  width: 20rem;
  align-self: center;
  padding-top: 3.5rem;
  position: relative;
}

.prompts-container__prompt {
  position: relative;
  margin-left: 7rem;
  width: 7.5rem;
  height: 7.5rem;
  background: var(--color--interaction-prompt-background);
  border-radius: 0.5rem;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.prompts-container__prompt_first {
  margin-bottom: -2.1rem;
}

.prompts-container__prompt_second {
  margin-left: 14rem;
}

.prompts-container__prompt_third {
  margin-top: -2.1rem;
}

.prompts-container__prompt::after {
  content: '';
  position: absolute;
  border: solid 1px var(--color--interaction-prompt-background);
  border-radius: 0.5rem;
  top: -0.5rem;
  left: -0.5rem;
  width: 8.4rem;
  height: 8.4rem;
}

.prompt__inner-container {
  width: 7rem;
  text-align: center;
  position: relative;
  top: -3rem;
  right: 0.3rem;
  transform: rotate(45deg);
  transform-origin: 0 100%;
}

.prompt__text {
  color: var(--color--interaction-prompt-text);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}

.prompt__image-container {
  text-align: center;
}

.prompt__image {
  color: var(--color--interaction-prompt-text);
  height: 3rem;
}
