@media (max-width: $mobile-max-width) {
  $statistics-icon-size: 5rem;
  $statistics-circle-center: 2.5rem;

  .about-us {
    margin: 3rem 0 5rem;

    &__container {
      flex-direction: column-reverse;
    }
  }

  .about-us-info {
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.6rem;
      margin: 1rem 0;
    }

    &__description {
      font-size: 1rem;
      font-weight: normal;
    }

    &__text {
      max-width: 32rem;
      align-self: center;
      text-align: center;
    }

    &__statistics {
      max-width: 10rem;
      margin: 0rem 1rem;

      .statistics__title {
        font-size: 3rem;
      }

      .statistics__text {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 100;
        margin: 0.8rem 0 1.3rem;
      }
    }
  }

  .about-us-info__statistics-container {
    margin: 3rem 0;
  }

  .statistics__icon {
    width: $statistics-icon-size;
    height: $statistics-icon-size;

    .statistics__circle {
      cx: $statistics-circle-center;
      cy: $statistics-circle-center;
    }

    .statistics__circle_outer {
      stroke-width: 0.7rem;
      r: 1.75rem;
    }

    .statistics__circle_inner {
      r: 1.3rem;
    }
  }
}
