.partners {
  background: linear-gradient(var(--color--partners-background), var(--color--partners-background)),
    url('../shared/partners/background.png') no-repeat;
  background-size: cover;

  &__partners-list {
    margin: 1.5rem auto 3rem;

    .partners-list__item {
      margin: auto 1rem;

      .partners-item__image {
        max-height: 2rem;
        max-width: 5rem;
      }
    }
  }
}
