@import 'colors.css';
@import 'underlines/underlines.css';
@import 'container/container.css';
@import 'container/title.css';

html {
  font-family: 'Lato';
  font-weight: normal;
  font-size: 18px;
}

body {
  margin: 0;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.disable-layout-shift::after {
  display: flex;
  flex-direction: column;
}

.disable-layout-shift::after {
  content: attr(data-text) '';
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0px;
  font-weight: 100;
}

h2 {
  font-size: 1.3rem;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../shared/fonts/Lato-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../../shared/fonts/Lato-Medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('../../shared/fonts/Lato-Bold.ttf');
  font-weight: 700;
}
