.about-us {
  margin: 3rem 0;
}

.about-us-info__title {
  margin: 0px;
}

.about-us-info__subtitle {
  margin: 0px 0px 1rem;
}

.about-us-info__text {
  max-width: 31rem;
  margin-right: 1rem;
}

.about-us-info__statistics {
  position: relative;
  margin: auto 1rem;
  max-width: 9rem;
}

.statistics__title {
  font-size: 2rem;
  font-weight: normal;
}

.statistics__text {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 100;
  margin: 0.8rem 0 1.3rem;
}

.about-us-info__statistics_success {
  color: var(--color--about-us-success);
}

.about-us-info__statistics_warning {
  color: var(--color--about-us-warning);
}

.about-us-info__statistics_danger {
  color: var(--color--about-us-danger);
}
