.guide {
  padding: 5rem;
}

.guide__steps-container {
  margin-top: 3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.steps-container__guide-step {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 15%;
}

.steps-container__guide-step:hover > .guide-step__image-container,
.steps-container__guide-step:focus > .guide-step__image-container {
  background-color: var(--color--guide-text);
}

.steps-container__guide-step:hover > .guide-step__description,
.steps-container__guide-step:focus > .guide-step__description {
  text-decoration: underline;
}

.steps-container__guide-step:active > .guide-step__image-container {
  border-color: var(--color--guide-text-active);
  background-color: var(--color--guide-text-active);
}

.guide-step__image-container {
  width: 5rem;
  height: 5rem;
  display: flex;
  border: solid 1px var(--color--guide-text);
  border-radius: 0;
  transition: 200ms;
}

.guide-step__image {
  margin: auto;
}

.guide-step__image-create {
  background: url('../../shared/how-it-works/create.png') center no-repeat;
  background-size: contain;
  height: 60%;
  width: 40%;
}

.guide-step__image-discuss-issue {
  background: url('../../shared/how-it-works/discuss-issue.png') center no-repeat;
  background-size: contain;
  height: 70%;
  width: 60%;
}

.guide-step__image-share {
  background: url('../../shared/how-it-works/share.png') center no-repeat;
  background-size: contain;
  height: 60%;
  width: 60%;
}

.guide-step__image-favorites-button {
  background: url('../../shared/how-it-works/favorites-button.png') center no-repeat;
  background-size: contain;
  height: 70%;
  width: 70%;
}

.steps-container__guide-step:hover .guide-step__image-create,
.steps-container__guide-step:focus .guide-step__image-create {
  background: url('../../shared/how-it-works/create-white.png') center no-repeat;
  background-size: contain;
}

.steps-container__guide-step:hover .guide-step__image-discuss-issue,
.steps-container__guide-step:focus .guide-step__image-discuss-issue {
  background: url('../../shared/how-it-works/discuss-issue-white.png') center no-repeat;
  background-size: contain;
}

.steps-container__guide-step:hover .guide-step__image-share,
.steps-container__guide-step:focus .guide-step__image-share {
  background: url('../../shared/how-it-works/share-white.png') center no-repeat;
  background-size: contain;
}

.steps-container__guide-step:hover .guide-step__image-favorites-button,
.steps-container__guide-step:focus .guide-step__image-favorites-button {
  background: url('../../shared/how-it-works/favorites-button-white.png') center no-repeat;
  background-size: contain;
}

.guide-step__description {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: var(--color--guide-text);
  transition: 200ms;
}
