.guide {
  padding: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  --color--guide-text: var(--color--secondary-text);
  --color--guide-text-hover: var(--color--main-text);
  --color--guide-background-hover: var(--color--secondary-text);
  --color--guide-text-active: var(--color--active-background);
}

.guide__title {
  margin-bottom: 3rem;
  color: var(--color--guide-text);
  font-size: 3rem;
  letter-spacing: 0.5rem;
}

.guide__steps-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.steps-list__item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 15%;
}

.steps-list__item:hover > .item__image-container {
  background-color: var(--color--guide-text);
  color: var(--color--guide-text-hover);
}

.steps-list__item:hover > .item__description {
  text-decoration: underline;
}

.steps-list__item:active > .item__image-container {
  background-color: var(--color--guide-text-active);
}

.item__image-container {
  width: 6rem;
  height: 6rem;
  display: flex;
  border: solid 1px var(--color--guide-text);
  border-radius: 0;
}

.image-container__image {
  height: 4rem;
  margin: auto;
}

.item__description {
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 600;
  color: var(--color--guide-text);
}
