.footer {
  background-color: var(--color-footer-background);
  color: var(--color-footer-text);
  padding: 1.5rem;
}

.footer__inner-container {
  padding: 4rem;
  justify-content: center;
  align-items: center;
}

.footer__image-container {
  max-width: 18.5rem;
  justify-content: right;
}

.footer__image {
  height: 6rem;
  margin-bottom: 2rem;
}

.footer__info-block {
  margin-right: 5rem;
}

.footer__social-block {
  min-width: 16rem;
}

.info-block__links-container {
  justify-content: space-evenly;
  margin: 1.5rem auto;
}

.info-block__link svg {
  transition: transform 0.2s;
  width: 1.5rem;
  height: 1.5rem;
}

.info-block__link:hover svg,
.info-block__link:focus svg {
  transform: scale(1.1);
}

.info-block__hover-link:hover,
.info-block__hover-link:focus {
  text-decoration: underline;
  color: var(--color-footer-text);
}

.info-block_text-center {
  text-align: center;
}

.info-block__newsletter {
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-footer-text);
}

.newsletter__input {
  color: var(--color-footer-text);
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: inherit;
  border: none;
  flex: auto;
}

.newsletter__link svg {
  transition: 200ms;
  height: 1.5rem;
  width: 1.5rem;
}

.newsletter__link:hover svg,
.newsletter__link:focus svg {
  transform: scale(1.05);
}

.newsletter__input:focus {
  outline: none;
  background-color: var(--color-footer-input-focus);
}
