@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .header {
    justify-content: center;

    &__logo-container {
      display: none;
    }

    &__navigation-list {
      margin: 0 1.5rem;

      .navigation-list__list-item {
        padding: 4rem 1rem;
      }
    }
  }
}
