@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .events {
    padding: 4rem 0;

    &__cards-container {
      margin: 1.5rem 0 3rem;
    }

    &__card {
      margin: 1.5rem 1rem 0;
    }
  }

  .card__title {
    font-size: 2rem;
  }

  .card-info {
    &__button {
      margin-bottom: 1rem;
    }
  }
}
