.underlines-container {
  display: flex;
  flex-flow: row nowrap;
  height: 3px;
  width: 5rem;

  &_reverse {
    flex-direction: row-reverse;
  }

  .long-line {
    width: 60%;
    height: 100%;

    rect {
      width: 95%;
      height: 100%;
      rx: 0.1rem;
    }
  }

  .medium-line {
    width: 24%;
    height: 100%;

    rect {
      width: 40%;
      height: 100%;
      x: 20%;
      rx: 0.1rem;
    }
  }

  .short-line {
    width: 0.5rem;
    height: 100%;

    rect {
      width: 40%;
      height: 100%;
      x: 20%;
      rx: 0.1rem;
    }
  }

  .dark-line {
    rect {
      fill: var(--color--secondary-text);
    }
  }

  .light-line {
    rect {
      fill: var(--color--main-text);
    }
  }
}

.subtitle-underline {
  width: 12rem;
  height: 1px;
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .subtitle-underline {
    padding: 0.5rem 0;
    display: block;
    margin: auto;
  }
}

@media (max-width: $mobile-max-width) {
  .underlines-container {
    height: 1px;
  }

  .subtitle-underline {
    width: 7rem;
    padding: 0.5rem 0;
    display: block;
    margin: auto;
  }
}
