.underlines-container {
  display: flex;
  flex-flow: row nowrap;

  &_reverse {
    flex-direction: row-reverse;
  }
}

@media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
  .subtitle-underline {
    padding: 0.5rem 0;
    display: block;
    margin: auto;
  }
}
