@import 'colors.css';
@import 'underlines/underlines.css';
@import 'container/container.css';
@import 'container/title.css';

@import 'header/header.css';
@import 'landing/landing.css';
@import 'guide/guide.css';
@import 'interaction/interaction.css';
@import 'features/features.css';
@import 'partners/partners.css';
@import 'events/events.css';

html {
  font-family: 'Segoe';
  font-weight: normal;
  font-size: 18px;
}

body {
  margin: 0;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  margin-top: 0px;
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
}

@font-face {
  font-family: 'Segoe';
  src: url('../shared/fonts/segoe_ui.ttf');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../shared/fonts/Lato-Light.ttf');
}
