@import 'colors.css';
@import 'underlines/underlines.css';
@import 'title/title.css';
@import 'section/section.css';

html {
  font-family: 'Segoe';
  font-weight: normal;
  font-size: 18px;
}

body {
  margin: 0;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Segoe';
  src: url('../shared/fonts/segoe_ui.ttf');
}
