:root {
  --dark-brown: #121111;
  --dark-gray: #242424;
  --bright-blue: #037693;
  --dark-blue: #135161;
  --orange: #f1b451;
  --blue: #4999ae;
  --light-gray: #e8e9ea;
  --dark-green: #135161;
  --almost-black: #011f26;

  --color--main-text: white;
  --color--secondary-text: var(--bright-blue);
  --color--hover: var(--blue);
  --color--action: var(--dark-blue);
  --color--focus: var(--dark-gray);
  --color--background: var(--dark-brown);
  --color--warning: var(--orange);
  --color--active-background: var(--dark-green);
  --color--hover-background: var(--light-gray);
  --color--shadow: var(--almost-black);
  --color--tricks-text: black;
}
