.container__title {
  text-align: center;

  &_light {
    color: var(--color--main-text);
  }

  &_dark {
    color: var(--color--secondary-text);
  }

  &_bold {
    font-weight: bold;
  }

  &_large-space {
    letter-spacing: 0.3rem;
  }
}

.container__side-title {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  position: relative;
  width: 11rem;
  padding: 0.4rem;
  top: 4.58rem;
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
  border: 1px solid;

  /* actually remove top border */
  &_without-right-border {
    border-right: none;
  }

  &_light {
    border-color: var(--color--main-text);
    color: var(--color--main-text);
  }

  &_dark {
    border-color: var(--color--secondary-text);
    color: var(--color--secondary-text);
  }
}

@media (min-width: $mobile-max-width) and (max-width: $tablet-max-width) {
  .container__side-title {
    display: none;
  }
}
